<div class="note-list-container">
  <h1 class="note-list-title">My Next Step Wiki! 🧾</h1>
  <p class="note-list-description">You can find a collection of useful notes below.</p>

  <% const groupedNotes = notes.reduce((acc, note) => {
    const folder = note.metadata.folder;
    if (!acc[folder]) {
      acc[folder] = [];
    }
    acc[folder].push(note);
    return acc;
  }, {}); %>

  <% Object.keys(groupedNotes).forEach(folder => { %>
    <h2><%= folder.charAt(0).toUpperCase() + folder.slice(1) %> Notes</h2>
    <ul>
      <% groupedNotes[folder].forEach(note => { %>
        <li class="note-list-item">
          <a href="/devCenter/notes/<%= note.metadata.id %>">
            <%= note.metadata.title %>
          </a>
        </li>
      <% }); %>
    </ul>
  <% }); %>

  <a href="/devcenter/notes/create">Create a new note</a>
</div>
