/* Layout styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-gray);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  color: var(--primary-blue);
  padding: 10px 0;
}

header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--primary-color);
  color: var(--primary-blue);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  background-color: var(--primary-black);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
