/* Navigation Styles */

nav {
  background-color: var(--primary-color);
  color: var(--primary-blue);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

nav ul li a:hover {
  background-color: var(--tertiary-color);
}
