.resource-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.resource-list-item {
  width: 33vw;
  margin: 15px 10px 20px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--secondary-color);
}
