<div class="error-container">
  <h3 class="error-title">Sorry about this!</h3>
  <p class="error-description">It looks like we couldn't find the page you were looking for.</p>
  <p class="error-description">Would you like to go back to the previous page?</p>
  <a class="error-link" href="javascript:history.back()">Go back</a>
</div>
