<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/layout.css">
    <link rel="stylesheet" href="../assets/styles/navigation.css">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="container">
            <h1>ILYTAT - My Next Step Server</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/notes">Notes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="content">
        <%- body %>  <!-- This is where the content from home.ejs will be injected -->
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 MyNextStep.com. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
