.grid {
  display: grid;
  gap: 1rem;
}

.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid.gap-2 {
  gap: 2rem;
}

.grid.gap-4 {
  gap: 4rem;
}
